body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 300;
    margin: 0;
    color:#252525;
}

.container {
    width: 570px;
    margin: 0 auto;
}

.accent-text {
    font-weight: 900;
    display: block;
}

h1 .accent-text {
    font-size: 80px;
}

h2 .accent-text {
    font-size: 60px;
}

h1,
h2 {
    font-weight: 300; 
    margin-top:0;
    border-top: solid 1px #c4c4c4;
    border-bottom: solid 1px #c4c4c4;
    padding: 30px 0;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 36px;
    font-weight: 900;
    margin-bottom:0;
}
p {
    margin-bottom:0;
}
a {
    color: #99D930;
    font-weight: 900;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #131313;
}

.small-text {
    font-size: 16px;
    margin-top:0;
} 

header,
section {
    padding: 100px 0;
}

header,
.articles {
    background-color: #252525;
    color: #fff;
}

.inverse {
    background-color: #252525;
    color:#fff;
}

.btn {
    display:inline-block;
    padding:10px 18px;
    background: #99d930;
    margin-top:20px;
    color:#252525;
    text-decoration: none;
}
.btn:hover, .btn:focus {
    background: #252525;
    color:#fff;
}

.inverse .btn:hover, .btn:focus {
    background: #fff;
    color:#252525;
}

.name, time, .accent-text {
    color:#99d930;
    font-weight: 900;
}
.avatar {
    border-radius:50%;
    border: 10px #fff solid;
}