html {
    font-size: .9rem;
}

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3125rem;
    font-weight: 300;
    margin: 0;
    color:#252525;
}
.container {
    max-width: 570px;
    margin: 0 auto;
    padding: 0 2em;
}

img{
    max-width: 100%;
}
.accent-text {
    font-weight: 900;
    display: block;
}

h1 .accent-text {
    font-size: 5rem;
}

h2 .accent-text {
    font-size: 3.75rem;
}

h1,
h2 {
    font-weight: 300; 
    margin-top:0;
    border-top: solid 0.0625rem currentColor;
    border-bottom: solid 0.0625rem currentColor;
    padding: 1.875rem 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.625rem;
}

h3 {
    font-size: 2.25rem;
    font-weight: 900;
    margin-bottom:0;
}
p {
    margin-bottom:0;
}
a {
    color: #99D930;
    font-weight: 900;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #131313;
}

.small-text {
    font-size: 1rem;
    margin-top:0;
} 
header {
    min-height: 100vh;
    display: flex;
    align-items: center;
}
header,
section {
    padding: 3.25em 0;
}
header,
.articles {
    background-color: #252525;
    color: #fff;
}

.inverse {
    background-color: #252525;
    color:#fff;
}

.btn {
    display:inline-block;
    padding:0.625rem 1.125rem;
    background: #99d930;
    margin-top:1.25rem;
    color:#252525;
    text-decoration: none;
}
.btn:hover, .btn:focus {
    background: #252525;
    color:#fff;
}

.inverse .btn:hover, .btn:focus {
    background: #fff;
    color:#252525;
}

.name, time, .accent-text {
    color:#99d930;
    font-weight: 900;
}
.avatar {
    max-width:30%;
    border-radius:50%;
    border: 0.625rem #fff solid;
}


@media (min-width:600px) {
    html {
        font-size:1.3125rem;
    }
}

@media (min-width:750px){
    .portfolio .container{
        max-width: 1200px;
        min-height: 100vh;
    }
    .columns {
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .portfolio{
        background-color: #252525;
        color:#fff;
    }
    .work{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .portfolio-item {
        width: 28%;
    }
    .portfolio-item img {
        width: 100%;
        height:15em;
        object-fit:cover
    }
    .articles.inverse {
        background-color: #99d930;
        color: #252525;  
    }
    .articles.inverse .accent-text, 
    .accent-text,
    .name, time, a {
        color: inherit;  /* or currentColor */
    }
    a:hover, a:focus{
        color:#fff;
    }
    h2{
        font-size: 2rem;
    }
    .articles.inverse .btn {
        background: #252525;
        color:#fff;
    }
    .articles.inverse .btn:hover,
    .articles.inverse .btn:focus {
        background: #fff;
        color:#252525;
    }
}

